{% extends 'base.html' %}
{% block content %}
<div class="full-login-regis">
{% for msg_type, msg_text in get_flashed_messages(True) %}
    {% if msg_type == 'message' %}
        <span class="msg-flash">{{ msg_text }}</span>
    {% endif %}
{% endfor %}

    <form action="{{url_for('register')}}" method="post">
        {{ form.hidden_tag() }}
        {% for field in form if field.name not in ['csrf_token', 'submit'] -%}
        <div class="each-field-regis">
            <span>{{ field.label() }}</span>
            {% if field.errors %}
            <span>{{ field(class="enter-field invalid") }}</span>
            <span class="invalid-feedback">
                {% for e in field.errors %}
                {{ e }}
                {% endfor %}
            </span>
            {% else %}
                <span>{{ field(class="enter-field") }}</span>
            {% endif %}
        </div>
        {% endfor %}
        <p>{{ form.submit(class='input-submit regist-btn') }}
        
    </form>
</div>
{% endblock %}